section.slider {
  margin-top: 136px;

  .slider-container {
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0px 27px 143px rgba(37, 37, 37, 0.17),
      0px 11.28px 59.742px rgba(37, 37, 37, 0.122205),
      0px 6.0308px 31.9409px rgba(37, 37, 37, 0.101338),
      0px 3.38082px 17.9058px rgba(37, 37, 37, 0.085),
      0px 1.79553px 9.50965px rgba(37, 37, 37, 0.0686618),
      0px 0.747159px 3.95718px rgba(37, 37, 37, 0.0477948);
  }
}
